<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12" sm="6">
        <v-card elevation="6">
          <img alt="Vue logo" src="../assets/icon.png" />
          <v-card-text>
            <v-form v-model="valid" autocomplete="off">
              <v-jsf
                v-model="model"
                :schema="dataSchema"
                :options="vjsfOptions"
              />
            </v-form>
            <v-btn
              rounded
              elevation="2"
              color="primary"
              :disabled="!valid"
              :loading="formLoading"
              @click="formSubmit"
            >
              Submit
            </v-btn>
          </v-card-text>
        </v-card>
        <LoanApplyDialog
          :show="showFormDialog"
          :title="dialogTitle"
          :text="dialogText"
          v-on:close="dialogClose"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import LoanApplyDialog from "@/components/LoanApplyDialog.vue";
const schemaFile = "/schema/loan-application.json";
export default {
  name: "LoanApplyForm",
  components: {
    LoanApplyDialog,
  },
  data: () => ({
    valid: false,
    formLoading: false,
    showFormDialog: false,
    dialogTitle: "",
    dialogText: "",
    model: { },
    dataSchema: {},
    vjsfOptions: {
      messages: { heading: "AAA" },
      hideTooltips: true,
      textFieldProps: {
        autocomplete: "false",
      },
    },
  }),
  async created() {
    console.log("bfc");
    try {
      let response = await this.axios.get(schemaFile);
      this.dataSchema = response.data;
    } catch (e) {
      console.log(e);
    }
  },
  methods: {
    async formSubmit() {
      this.formLoading = true;
      const data = { ...this.model };
      try {
        let response = await this.axios.post("/loan-application", data);
        let loanStatus = response.data;
        this.formLoading = false;
        console.log("loanStatus", loanStatus);
        this.dialogTitle = `Loan: ${loanStatus.type}`;
        this.dialogText = loanStatus.message;
        this.showFormDialog = true;
        if (loanStatus.type !== "Approved"){
          this.model.requestAmount = 0
        }
      } catch (e) {
        console.log(e);
        this.dialogTitle = "Oops";
        this.dialogText = "There was a problem up on the loan apply";
        this.showFormDialog = true;
      }
    },
    async dialogClose() {
      this.showFormDialog = false;
      if (this.valid) {
        this.model = {};
        this.$router.push("/");
      }
    },
  },
};
</script>
