<template>
  <v-app>
    <v-app-bar app color="primary" dark shrink-on-scroll>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-app-bar-title>LF</v-app-bar-title>
      <v-spacer />
      <v-btn to="/" text>
        <span class="mr-2">Home</span>
      </v-btn>
      <v-btn to="/loan" text>
        <span class="mr-2">Loan</span>
      </v-btn>
      <v-btn
        href="https://gitlab.com/arturo-hernandez/lf-exercise"
        target="_blank"
        text
      >
        <span class="mr-2">git</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container class="pa-0" fluid>
        <router-view />
      </v-container>
    </v-main>
    <v-footer padless color="primary" dark>
      <v-col class="text-center" cols="12">
        {{ new Date().getFullYear() }} — <strong>Arturo Hernandez</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
