<template>
  <div>
    <v-parallax dark src="../assets/vbanner.jpg">
      <v-row align="center" justify="center">
        <v-col class="text-center" cols="12">
          <h1 class="text-h4 font-weight-thin mb-4">LF I.Exercise</h1>
          <h4 class="subheading">Demo application by A.H.C.!</h4>
        </v-col>
      </v-row>
    </v-parallax>
    <v-row justify="center">
      <v-col cols="12" sm="6">
        <v-card class="mx-auto">
          <v-card-text>
            <div>demo endpoint</div>
            <p class="text-h4 text--primary">Loan Application</p>
            <div class="text--primary">
              Please fill the required information to apply a Loan
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn text color="teal accent-4" to="/loan"> Apply Now! </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>


<style lang="scss">
.mx-auto {
  max-width: 400px;
}
</style>