<template>
  <div class="home">
    <LoanApplyForm />
  </div>
</template>

<script>
// @ is an alias to /src
import LoanApplyForm from "@/components/LoanApplyForm.vue";

export default {
  name: "Loan",
  components: {
    LoanApplyForm,
  },
};
</script>